html {
  box-sizing: border-box;
  font-family: "Helvetica", "sans-serif";
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.one {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.two {
  border: 1px solid grey;
  height: 350px;
  background-image: url("images/inside.jpg");
  background-position-x: 30%;
  background-position-y: 55%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#logo {
  width: 20px;
  height: 20px;
}

#media img {
  width: 40px;
  height: 40px;
  margin: 35px 5px;
}
