body {
  margin-top: 0;
  letter-spacing: 1px;
  font-family: helvetica;
  line-height: 18px;
}

.container {
  height: 3000px;
  margin-right: 16%;
  margin-left: 16%;
  display: grid;
  grid-template-rows: 110px 350px 230px auto 70px;
  gap: 20px;
}

#divOne {
  grid-row: 1;
}

#divTwo {
  grid-row: 2;
}

#divThree {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#card1 {
  grid-column: 1;
  background: red;
}

#card2 {
  grid-column: 2;
  background: red;
}

#card3 {
  grid-column: 3;
  background: red;
}

#divFour {
  display: grid;
  grid-template-columns: auto 260px;
  grid-row: 4;
  gap: 75px;
}

#divFourColumnOne {
  grid-column: 1;
}

#label7header {
  display: grid;
  grid-template-columns: 370px auto;
  height: 60px;
  margin-top: 25px;
}

#label7headerLeft {
  grid-column: 1;
  display: flex;
}

.secSevenBorder {
  width: 125px;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid grey;
}

#menuHeaderTab {
  width: 105px;
}

#menuSectionHeader {
  margin-top: 40px;
  border-bottom: 1px solid grey;
  padding-left: 10px;
}

#menuAppetizerHeader {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 10px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 30px;
  padding-left: 10px;
}

#menuEntreeHeader,
#menuDessertHeader {
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-left: 10px;
}

.menuHeaders {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.label7divs {
  display: none;
}

.active {
  display: block;
}

.active-btn {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: none;
}

#reservation {
  padding-top: 30px;
  padding-bottom: 15px;
}
#reservationButton {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 17px;
  height: 35px;
  width: 135px;
  border: none;
}
label {
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding-bottom: 10px;
}
.form-input {
  margin-top: 10px;
  margin-bottom: 15px;
}
#fullName {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  height: 23px;
}
#numberOfGuest {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 8%;
  height: 23px;
}
#specialNotes {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35%;
  height: 63px;
}
#reservationDate {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 15%;
  height: 23px;
}

.menuMarginBottom {
  margin-bottom: 20px;
}

.menuItems {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 98% 2%;
}

.menuName {
  grid-column: 1;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

.menuName p {
  border-bottom: 1px dotted gray;
}

.menuPrice {
  grid-column: 2;
}

.menuInfo {
  display: grid;
  grid-template-columns: 80% 20%;
}

.menuDescription {
  grid-column: 1;
}

.menuLabels {
  grid-column: 2;
  border-left: 1px dotted gray;
  padding-left: 10px;
}

.menuLabels button {
  margin-top: 14%;
  width: 33%;
}

#label7headerRight {
  grid-column: 2;
  border-bottom: 1px solid grey;
}

#divFourColumnTwo {
  grid-column: 2;
}

#ourStoryImage {
  height: 320px;
  width: 100%;
  border: 1px solid;
}

.labelEightImages {
  width: 260px;
  height: 260px;
  background: blue;
  margin-bottom: 30px;
}

#divFive {
  grid-row: 5;
}
